.canvas-component {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto 100px;
  height: auto;
}

.controls-panel {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-height: 40px;
}

.circles-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 380px;
}

.projects-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 40px;
}

.project {
  display: flex;
    margin-left: 5px;
    margin-top: 10px;
    padding: 1px;
    border: 1px solid #57cfff; 
    border-radius: 13px;
    cursor: pointer;
    background-color: white;
    color: rgb(88, 72, 72);
    flex-direction: column;
    background-color: #c0f6ff;
}

.circles-container.container-100 {
  width: 280px;
}

.circles-container.container-225 {
  width: 420px;
}

.container-400 {
  width: 560px;
	
}

.button-generate {
  margin-left: 10px;
	border-radius: 13px;
    padding: 8px  8px;
    color: white;
    background-color: #9745f542;
    cursor: pointer;
    border-color: rgba(18, 155, 155, 0.253); 
}

.picker-wrapper {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #000000;
  margin-left: 10px;
  border-radius: 30px;
  cursor: pointer;
}

.picker-inner {
  display: flex;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 30px;
}

.picker {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  border-radius: 30px;
  opacity: 0;
}


.button-reset {
  margin-left: 10px;
	border-radius: 13px;
    padding: 8px  8px;
    color: white;
    background-color: #9745f542;
    cursor: pointer;
    border-color: rgba(18, 155, 155, 0.253); 
}

.button-fill-all {
  margin-left: 10px;
	border-radius: 13px;
    padding: 8px  8px;
    color: white;
    background-color: #9745f542;
    cursor: pointer;
    border-color: rgba(18, 155, 155, 0.253); 
}

.button-delete {
	margin:10px;
		border-radius: 13px;
    padding: 8px  8px;
    color: white;
    background-color: #9745f542;
    cursor: pointer;
    border-color: rgba(18, 155, 155, 0.253); 

}

  input{
    margin-left: 10px;
    border-radius: 13px;
    padding: 8px  8px;
    color: black;
    border: #757474;
    background-color: rgb(255, 255, 255);
    outline: none;
  }